@media (max-width: 670px) {
    .navbar__container-lists {
        min-width: 100%;
    }

    .aside__profile-info, .posts__post, .container-form, .content__form, .navbar__container-lists, .content__container-btn {
        border-left: 0;
        border-right: 0;
    }

    .content__form {
        height: 100%;
    }
}

