/*ESTILOS GENERALES*/
:root {
    --color-general-text: #E7E9EA;
    --color-text-grey: #71767B;
    --color-text-black: #0F1419;

    --color-border-headers: rgb(47, 51, 54);

    --color-background-btn-success: rgb(239, 243, 244);
    --color-background-btn-success-hover: rgb(215, 219, 220);

    --color-btn-delete: rgb(244, 33, 46);
    --color-border-btn-delete: rgb(103, 7, 15);
    --color-background-btn-delete-hover: rgba(244, 33, 46, 0.1);

    --color-border-post: rgb(47, 51, 54);
    --color-name-user: #337ab7;

    --color-text-nickname: #969393;
    --color-number-stats: green;

    --color-border-textarea: #ccc;
    --color-border-textarea-focus: #66afe9;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


html {
    width: 100%;
    height: 100%;
    font-size: 10px;
}


body {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-general-text);
    background-color: rgb(0, 0, 0);
}

.alert {
    width: 100%;
    margin: 0 auto;
}

.user-info__divider {
    color: var(--color-text-grey);
}


/*ESTILOS NAVBAR*/
.layout__navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(12px);
    height: 107px;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.layout__navbar * {
    color: var(--color-text-navbar);
}

.navbar__title {
    font-size: 1.8rem;
    padding: 1.8rem;
}

.navbar__container-lists {
    height: 107px;
    max-width: 670px;
    min-width: 670px;
    display: block;
    border: 1px solid var(--color-border-post);
}

.container-lists__menu-list {
    height: 53px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container-lists__menu-list li {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-lists__menu-list li:hover {
    background-color: rgba(231, 233, 234, 0.1);
}

.container-lists__menu-list li a {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.container-lists__list-end {
    width: 95%;
    height: 53px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-end__img {
    width: 4rem;
    height: 4rem;
    border-radius: 3.2rem;
}

.list-end__name,
.menu-list__title {
    padding: 0 0 0 10px;
}

/*ESTILOS DE CONTENIDO*/
.layout__content {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.5rem;
    margin-top: 100px;
}

.content__login {
    margin-top: 4.5rem;
}

.content__header,
.aside__header {
    width: 100%;
    border-bottom: 1px solid var(--color-border-headers);
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.content__title,
.aside__title {
    font-size: 3.5rem;
    margin-right: 1rem;
}

.content__button {
    background-color: var(--color-background-btn-success);
    color: var(--color-text-navbar);
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border-btn-success);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    line-height: 1.5;
    cursor: pointer;
}

.content__button:hover,
.content__btn-more-post:hover {
    background-color: var(--color-background-btn-success-hover);
    border-color: var(--color-border-btn-success-hover);
}


.content__posts {
    width: 100%;
}

.posts__post {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--color-border-post);
    border-top: 1px solid transparent;
    padding: 1.5rem;
}

.post__people {
    border-top: 1px solid var(--color-border-post);
}

.post__container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.post__image-user {
    width: 48px;
    height: 48px;
    border-radius: 100rem;
    overflow: hidden;
}

.post__image-user a {
    width: 48px;
    height: 48px;
}

.post__user-image {
    width: 100%;
    height: 100%;
    border-radius: 3.2rem;
}

.user-info__name {
    color: var(--color-general-text);
    font-weight: 700;
}

.user-info__create-date {
    color: gray;
}

.post__content {
    font-size: 15px;
    font-weight: 400;
    max-width: 550px;
    height: auto;
    overflow: hidden;
}

.post__img {
    margin-top: 12px;
    border-radius: 15px;
    overflow: hidden;
    max-width: 550px;
    max-height: 550px;
    border: 1px solid var(--color-border-post);
}

.post__buttons {
    margin: 0;
    max-height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post__button {
    color: var(--color-general-text);
    padding: 0 16px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 9999px;
    min-width: 36px;
    min-height: 36px;
    background-color: transparent;
    border: 1px solid var(--color-general-text);
    cursor: pointer;
    transition: all 0.1s ease;
}

.post__button div {
    width: 80px;
}

.post__button:hover div::before {
    content: "Unfollow ";
}

.post__button div::before {
    content: "Following";
}

.post__button:hover {
    color: var(--color-btn-delete);
    border-color: var(--color-border-btn-delete);
    background-color: var(--color-background-btn-delete-hover);
}

.button__delete {
    border-radius: 4px;
    padding: 0 10px;
    color: var(--color-btn-delete);
    border-color: var(--color-border-btn-delete);
}

.post__button--white {
    padding: 0 16px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 9999px;
    min-width: 36px;
    min-height: 36px;
    cursor: pointer;
    color: var(--color-text-black);
    background-color: var(--color-background-btn-success);
    border-color: transparent;
}

.post__button--white:hover {
    color: var(--color-text-black);
    background-color: var(--color-background-btn-success-hover);
}

.post__button--normal a {
    color: var(--color-general-text);
}

.post__button--normal:hover {
    border: 1px solid var(--color-general-text);
    background-color: rgba(239, 243, 244, 0.1);
}

.content__container-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border: 1px solid var(--color-border-post);
    border-top: 1px solid transparent;
}

.content__btn-more-post {
    background-color: var(--color-background-btn-success);
    color: var(--color-text-black);
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border-btn-success);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.4rem;
}

/*ESTILOS BARRA LATERAL*/
.aside__profile-info {
    border: 1px solid var(--color-border-post);
    padding: 2.5rem;
}

.profile-info__general-info {
    width: 100%;
}

.profile__container-avatar {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100rem;
    margin-right: 1.5rem;
    overflow: hidden;
}

.container-avatar__img {
    height: 100%;
}

.general-info__container-names {
    width: 100%;
}

.container-names__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.container-names__name h1 {
    color: var(--color-general-text);
    font-size: 20px;
    font-weight: 800;
}

.container-names__nickname {
    color: var(--color-text-nickname);
    font-size: 15px;
    line-height: 0.9;
    font-weight: 400;
}

.general-info__container-names p {
    margin-top: 12px;
}

.profile-info__stats {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--color-border-headers);
}

.stats__following:first-child {
    padding-left: 0.6rem;
}

.stats__following {
    margin-top: 1rem;
    padding: 0 1.8rem;
    text-align: center;
}

.following__link {
    display: flex;
    gap: 5px;
    transition: all 0.1s ease;
    color: var(--color-general-text);
}

.following__link:hover {
    text-decoration: underline;
}

.following__title {
    display: block;
    font-weight: bold;
    color: var(--color-text-grey);
    font-weight: 400;
}

.following__number {
    font-weight: bold;
    color: var(--color-general-text);
}

.container-form {
    width: 100%;
    border: 1px solid var(--color-border-post);
    padding: 2.5rem;
}

.container-form__form-post {
    width: 100%;
}

form {
    max-width: 300px;
}

.container-form form {
    max-width: 90%;
}

.form-post__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px solid var(--color-border-post);
}

.form-post__textarea {
    resize: none;
    overflow: hidden;
    height: auto;
    min-height: 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text-grey);
    border: 0;
    background-color: #000;
    outline: none;
}

.form-post__textarea:focus {
    color: var(--color-general-text);
}

.image__selected {
    margin-bottom: 15px;
    overflow: hidden;
    max-width: 550px;
    max-height: 550px;
    position: relative;
}

.image__selected img {
    border-radius: 15px;
}

.button_delete {
    top: 5px;
    left: 5px;
    border-radius: 9999px;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 20, 25, 0.75);
}

.button_delete i {
    font-size: 17px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    resize: none;
    width: 100%;
    height: 30px;
    padding: 8px 12px;
    font-size: 14px;
    color: var(--color-text-grey);
    border: transparent;
    background-color: #000;
    border-radius: 4px;
    outline: none;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: all ease-in-out 150ms;
}

.form-post__btn-submit {
    background-color: rgb(29, 155, 240);
    border: 0;
    padding: 6px 17px;
    border-radius: 9999px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.form-post__btn-submit:hover {
    background-color: rgb(26, 140, 216);
}

input[type="file"] {
    display: none;
}

.box__icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
}

.box__icon:hover {
    background-color: rgba(29, 155, 240, 0.1);
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    color: rgb(29, 155, 240);
    padding: 10px 10px 8px;
}

.custom-file-upload i {
    font-size: 20px;
}

.content__form {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border-post);
}

.config-form {
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

.form-file {
    position: relative;
    max-width: 112px;
}

.form-file label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.container-avatar {
    position: relative;
}

.container-avatar__img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    max-width: 112px;
    max-height: 112px;
}

.form-file i {
    font-size: 17px;
    padding: 12px;
    border-radius: 50%;
    background-color: rgba(15, 20, 25, 0.75);
    color: #fff;
    transition: all 0.1s ease;
}

.form-file label:hover i {
    background-color: rgba(15, 20, 25, 0.85);
}

.form-group {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(51, 54, 57);
    margin: 15px 0;
}

.form-group label {
    display: block;
    padding: 4px 12px 0 12px;
    color: var( --color-text-grey);
}

.form-group input {
    color: var(--color-general-text);
}

.form-group textarea {
    padding: 8px 12px;
    width: 100%;
    resize: none;
    background-color: transparent;
    border: transparent;
    color: var(--color-general-text);
    height: auto;
    min-height: 20px;
    outline: none;
    display: block;
}

.form-post__textarea:focus {
    border: transparent;
}

.login-register_h3 {
    font-size: 30px;
    font-weight: 800;
}